* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #C1D4BC;
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	max-width: 698px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: #424242;
    height: 595px;
}

h1 {
    color: #ecf0f1;
}

.scoreWrap {float: left;}
.timeWrap {float: right;}

.outerWrap:after {
	content: "";
	display: block;
	clear: both;
}

.wrapper p{
    font-size: 32px;
}

button {
   border: none;
  background-color: #C1D4BC;
  box-shadow: 0px 5px 0px 0px #4A6D51;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.scoreWrap p, .scoreWrap span, .timeWrap p, .timeWrap span {
    font-size: 30px;
    color: #4A6D51;
}

.wordsWrap {
	margin-top: 50px;
}

.words span{
    font-size: 60px;
    letter-spacing: 1px;
    color: #c2dccd;
}







