/* desktop */
@media screen and (min-width: 401px) {
  html {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #F4F7F5;
      padding: 30px;
  }
  
  nav {
      padding: 2em;
      /* position: sticky; */
      top:0;
      background-color: #F4F7F5;
      }
      
  nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 34px;
      }
      
  nav a {
      color: #333333;
      text-decoration: none;
      padding: .5em 1em;
      }
      
  nav a:hover {
      color: #4A6D51;
      font-weight: bold;
      }
  
  /* home page */
  .intro {
      background-color: #C1D4BC;
  }
  
  #name {
      position: relative;
      padding: 70px;
      font-weight: 556px;
      font-size: 94px;
      display: flex;
      justify-content: center;
      margin: 60px;
      transition: transform .2s; /* Animation */
  
  }
  
  #name:hover{
    transform: scale(1.5);
  }
  
  .more-intro {
      display: flex;
      justify-content: space-between;
  }
  
  #left-intro #right-intro{
      text-align: center;
  }
  
  #bunny {
    padding-left: 150px;
  }
  
  p {
      padding: 20px;
      text-align: center;
      font-size: 22px;
  }
  
  .sza {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #4A6D51;
  
  }
  
  .sza p {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-size: 28px;
  }
  
  /* about page */
  .about {
      background-color: #C1D4BC;
  }
  
  #major {
      padding: 10px;
      padding-left: 100px;
      font-weight: normal;
      font-size: 30px;
      flex-wrap: wrap;
      line-height: 2em;
  }
  
  .myChar {
      display: block;
  }
  
  .myChar img {
      max-width: 80%;
      height: auto;
  }
  
  
  .born h1 {
      font-weight: normal;
      font-size: 24px;
      line-height: 2.5em;
  }
  
  .img-and-words {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
  }
  
  .facts h1 {
    font-weight: normal;
      font-size: 24px;
      line-height: 2.5em;
  }
  
  .film {
    width: 550px;
    height: 350px;
  }
  
  .stage {
    display: flex;
  }
  
  .myChar {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
  }
  .bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
  }
  @keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
  }
  /* playground page */
  .explore {
      position: relative;
      padding: 50px;
      font-weight: 556px;
      font-size: 96px;
      display: flex;
      justify-content: center;
      margin: 100px;
      background-color: #C1D4BC;
      border-radius: 25px;
      border: #4A6D51 solid 10px;
  }
  
  /* pop hovers reference https://css-tricks.com/pop-hovers/ */
  @import url(https://fonts.googleapis.com/css?family=Merriweather);
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #f06d06;
    text-decoration: none;
  }
  
  .box {
    padding: 2em;
    border: 3px solid #4A6D51;
    display: block;
    width: 50%;
    height: 300px;
    float: left;
    margin: -1px 0 0 -1px;
    color: black;
    background: linear-gradient(
       white, white 50%, #333 50%, #333
    );
    background-size: 100% 202%;
    transition: all 0.2s ease;
    animation: down-bump 0.4s ease;
  }
  .box h2 {
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 1.2;
    font-size: 32px;
  }
  .box h3 {
    font: 0.8em "Lucida Grande", serif;
    font-size: 20px;
  }
  
  .box:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
  }
  .box:hover h2 {
    color: #48ad26;
  }
  .box:hover h2 span {
    color: white;
  }
  .box:hover h3 {
    color: #999;
  }
  
  @keyframes up-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 1.5em; }
    100% { padding-top: 2em; }
  }
  @keyframes down-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 2.5em; }
    100% { padding-top: 2em; }
  }
  
  /* contact page */
  
  /* .contact-grid {
    display: grid;
  } */
  
  .more-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-intro {
    justify-content: center;
  }
  
  #email-box {
    text-decoration: none;
    /* color: #6A8662; */
    font-size: 42px;
    background-color: #F4F7F5;
    padding: 40px;
    border-radius: 45px;
    text-align: center;
    border:#4A6D51 3px solid;
    width: 20%;
    }
    
    .container {
    background-color: #C1D5BC;
    padding: 80px;
    margin: 85px 200px 0px 0px;
    
    }
    
    .container h1  {
    font-size: 64px;
    }
    
    .container h3 {
    font-size: 36px;
    font-weight: normal;
    }
    
    #email-link {
    text-decoration: none;
    color: #4A6D51;
    }
  
    #email-link:hover{
      color: #F4F7F5;
      font-weight: bolder;
      font-size: larger;
      background-color: #C1D4BC;
    }
  
    #email-box:hover {
      background-color: #C1D4BC;
    }
  
  #social-icons img{
    width: 100px;
    height: auto;
    padding: 10px;
  }  
  }
  
  /* mobile */
  @media screen and (max-width: 400px) {
    /* general */
  html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
    nav {
      padding: 2em;
    }
    
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-shrink: 3;
      justify-content: space-evenly;
      font-size: 16px;
    }
    
    nav a {
      color: #333333;
      text-decoration: none;
      padding: .5em 1em;
    }
  
    /* home page */
  
    .contact {
      background-color: #C1D4BC;
    }
    #name {
      position: relative;
      /* padding: 50px; */
      font-weight: 556px;
      font-size: 80px;
      display: none;
      justify-content: center;
      margin: 60px;
      background-color: #C1D5BC;
      text-align: center;
      visibility: hidden;
  }
  
  .more-intro {
    display: flex;
  }
  
  #bunny {
  padding-left: 80px;
  visibility: hidden;

  }
  
  p {
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }
  
  /* about */
  .about {
    background-color: #C1D4BC;
  }
  
  #major {
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    flex-wrap: wrap;
    line-height: 1.5em;
  }
  
  .myChar {
    display: block;
  }
  
  .myChar img {
    max-width: 80%;
    height: auto;
    align-items: center;
  }
  
  
  .born h1 {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8em;
  }
  .facts h1 {
    font-weight: normal;
      font-size: 16px;
      line-height: 1.5em;
  }
  
  .film {
    width: 250px;
    height: 150px;
    padding-left: 60px;
  }
  
  .myChar {
  padding-left: 50px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  }
  .bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
  }
  @keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-40px); }
  100% { transform: translateY(0); }
  }
  
  /* playground */
  .explore {
    position: relative;
    padding: 40px;
    font-size: 36px;
    margin: 20px;
    background-color: #C1D4BC;
    border-radius: 25px;
    border: #4A6D51 solid 10px;
  }
  
  /* pop hovers reference https://css-tricks.com/pop-hovers/ */
  @import url(https://fonts.googleapis.com/css?family=Merriweather);
  
  .pop-up {
    display: grid;
  }
  .box {
  padding: 2em;
  border: 3px solid #4A6D51;
  /* display: block; */
  /* width: 10%; */
  height: auto;
  float: left;
  margin: -1px 0 0 -1px;
  color: black;
  
  }
  .box h2 {
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1.2;
  font-size:20px;
  }
  .box h3 {
  font: 0.8em "Lucida Grande", serif;
  font-size: 14px;
  }
  
  
  /* contact */
  .more-intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .left-intro p {
    justify-content: center;
    line-height: 1.5em;
  }
  
  #email-box {
    text-decoration: none;
    font-size: 24px;
    background-color: #F4F7F5;
    padding: 20px;
    border-radius: 45px;
    text-align: center;
    border:#4A6D51 3px solid;
    width: 20%;
    }
    
    .container {
    background-color: #C1D5BC;
    padding: 80px;
    margin: 85px 200px 0px 0px;
    
    }
    
    .container h1  {
    font-size: 32px;
    }
    
    .container h3 {
    font-size: 18px;
    font-weight: normal;
    }
    
    #email-link {
    text-decoration: none;
    color: #4A6D51;
    }
  
    #email-link:hover{
      color: #F4F7F5;
      font-weight: bolder;
      font-size: larger;
      background-color: #C1D4BC;
    }
  
    #email-box:hover {
      background-color: #C1D4BC;
    }
  
  #social-icons img{
    width: 100px;
    height: auto;
    padding: 10px;
  }  
  
  }