* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;

}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background: white;
  background-image: url(/ica/ica5/img/top-image.png), url(/ica/ica5/img/bottom-image.png);
  background-repeat: no-repeat;
  background-position: top, bottom;
  border-top: solid 1mm red;
  border-bottom: solid 1mm red;
  /*background-color: linear-gradient(black,white);*/

}
.top-gradient {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(255,255,255,1)) ;
  height: 200px;
}

.bot-gradient {
  background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(255,255,255,1));
  position: absolute;
  height: 200px;
  bottom: 8mm; /*bottom gradient*/
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

h1 {
  background-image: url(/ica/ica5/img/logo.png);
  filter:drop-shadow(4px 4px 4px black);
  box-shadow: 4px 4px black;
  border-radius: 50%;
}